/*
---------------------------------------------------------------
    tag body
---------------------------------------------------------------
*/
body {
    background: #1f212a;
    font-family: 'proxima-soft';
}

/*
---------------------------------------------------------------
    variante de cores
---------------------------------------------------------------
*/
:root {
    --ciano: #45e7fc;
    --azul: #9064e8;
    --roxo: #872b97;
    --branco: #ffffffd0;
}

/*
---------------------------------------------------------------
    barra de menu
---------------------------------------------------------------
*/
#menu_bar {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    background-color: #282A35;
    margin: 0;
    padding: 0;
    text-align: center;
    list-style-type: none;
}

/*
---------------------------------------------------------------
    items dentro da barra de menu
---------------------------------------------------------------
*/
li {
    display: inline-block;
}

li a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 16px 20px;
    font-size: 22px;
    font-weight: 600;
    background: linear-gradient(90deg, #45e7fc 0%, #9064e8 60% , #872b97 100%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

li:hover {
    background-color: #1f212a;
}

/*
---------------------------------------------------------------
    título h1 e subtítulo h3 da página inicial
---------------------------------------------------------------
*/
#title_container {
    position: relative;
    top: 250px;
    text-align: center;
}

h1 {
    font-size: 60px;    
    background: linear-gradient(90deg, var(--ciano) 0%, var(--azul) 60% , var(--roxo) 100%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

h3 {
    font-size: 30px;
    background: linear-gradient(90deg, var(--azul) 0% , var(--roxo) 100%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

/*
---------------------------------------------------------------
    grid da página sobre
---------------------------------------------------------------
*/
#grid_container1 {
    display: grid;
    grid-template-rows: 2;
    grid-template-columns: 2;
    padding: 46px;
    border: 3px solid;
    border-top: 0;
    border-image: linear-gradient(90deg, var(--azul) 0% , var(--roxo) 100%);
    border-image-slice: 1;
}

#grid1 {
    grid-row-start: 1;
    grid-column-start: 1;
    text-align: left 46px;
    background: linear-gradient(90deg, var(--ciano) 0%, var(--azul) 40% , var(--roxo) 70%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
} #title {
        font-size: 60px;
}

#grid2 {
    grid-row-start: 1;
    grid-column-start: 1;
    text-align: left;
    max-width: 900px;
    letter-spacing: 0.04cm;
    color: var(--branco);
    white-space-collapse: preserve-breaks;
} #text {
    font-size: 20px;
    margin-top: 90px;
}

#grid3 {
    grid-row-start: 1;
    grid-column-start: 2;
} #img_me {
    width: 300px;
    margin-top: 150px;
    margin-left: 50px;
    border-radius: 80px;
}

/*
---------------------------------------------------------------
    grid da página currículo
---------------------------------------------------------------
*/
#grid_container2 {
    display: grid;
    grid-template-rows: 2;
    grid-template-columns: 2;
    padding-left: 46px;
    padding-top: 46px;
    border: 3px solid;
    border-top: 0;
    border-image: linear-gradient(90deg, var(--azul) 0% , var(--roxo) 100%);
    border-image-slice: 1;
}

#grid1_1 {
    grid-row-start: 1;
    grid-column-start: 1;
    background: linear-gradient(90deg, var(--ciano) 0%, var(--azul) 10%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    padding-top: 30px;
} #linguagens {
    font-size: 30px;
}

#grid2_1 {
    grid-row-start: 1;
    grid-column-start: 1;
} #linguagens2 {
    margin-top: 150px;
}

#grid3_1 {
    grid-row-start: 2;
    grid-column-start: 1;
    background: linear-gradient(90deg, var(--ciano) 0%, var(--azul) 10%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    padding-top: 30px;
} #idiomas {
    font-size: 30px;
}

#grid4_1 {
    grid-row-start: 2;
    grid-column-start: 1;
    white-space-collapse: preserve-breaks;
    color: var(--branco);
} #idiomas2 {
    font-size: 25px;
    margin-top: 70px;
}

#grid5_1 {
    grid-row-start: 1;
    grid-column-start: 2;
    background: linear-gradient(90deg, var(--ciano) 0%, var(--azul) 10%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    padding-top: 30px;
    
} #formacao {
    font-size: 30px;
}

#grid6_1 {
    grid-row-start: 1;
    grid-column-start: 2;
    white-space-collapse: preserve-breaks;
    color: var(--branco);
} #formacao2 {
    font-size: 25px;
    margin-top: 70px;
}

#grid7_1 {
    grid-row-start: 2;
    grid-column-start: 2;
    background: linear-gradient(90deg, var(--ciano) 0%, var(--azul) 10%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
} #skills {
    font-size: 30px;
}

#grid8_1 {
    grid-row-start: 2;
    grid-column-start: 2;
    white-space-collapse: preserve-breaks;
    color: var(--branco);
} #skills2 {
    font-size: 25px;
    margin-top: 70px;
}