body {
    width: 100%;
    height: 100%;
    background: #581c63;
    background: linear-gradient(90deg, #581c63 0%, #2b0f2f 40%, #171721 59%);
    font-family: 'proxima-soft';
}

.img_background {

    position: absolute;
    width: 800px;
    height: 576px;
    left: 0px;
    top: 130px;
    transform: rotate(180deg);
}

.botao {
    position: absolute;
    border: 2px solid #FFFFFF;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.04cm;
    color: #FFFFFF;
    opacity: 80%;
    background-color: transparent;
    cursor: pointer;
}

.inicio {
    position: absolute;
    width: fit-content;
    left: 46px;
    top: 35px;
    padding: 10px 30px 10px 30px;
    text-align: center;
}

.quem_sou_eu {
    position: absolute;
    width: fit-content;
    left: 190px;
    top: 35px;
    padding: 10px 30px 10px 30px;
    text-align: center;
}

.curriculo {
    position: absolute;
    width: fit-content;
    left: 410px;
    top: 35px;
    padding: 10px 30px 10px 30px;
    text-align: center;
}

.contato {
    position: absolute;
    width: fit-content;
    left: 610px;
    top: 35px;
    font-size: 18px;
    padding: 10px 30px 10px 30px;
    text-align: center;
}

.linguagens {
    position: absolute;
    left: 46px;
    top: 140px;
    font-size: 40px;
    letter-spacing: 0.4cm;
    color: #FFFFFF;
}

.linguagens2 {
    
}