/*
---------------------------------------------------------------
    configurações do body
---------------------------------------------------------------
*/
body {
    background: #1f212a;
    font-family: 'proxima-soft';
    margin: 0;
    padding: 0;
}

/*
---------------------------------------------------------------
    variante de cores
---------------------------------------------------------------
*/
:root {
    --ciano: #45e7fc;
    --azul: #9064e8;
    --roxo: #872b97;
    --branco: #ffffffd0;
}

/*
---------------------------------------------------------------
    barra de menu
---------------------------------------------------------------
*/
ul {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    background-color: #282A35;
    margin: 0;
    padding: 0;
    text-align: center;
    list-style-type: none;
}

/*
---------------------------------------------------------------
    items dentro da barra de menu
---------------------------------------------------------------
*/
li {
    display: inline-block;
}

li a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 20px 22px;
    font-size: 24px;
    font-weight: 600;
    background: linear-gradient(90deg, #45e7fc 0%, #9064e8 60% , #872b97 100%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

li:hover {
    background-color: #1f212a;
}

/*
---------------------------------------------------------------
    título h1 e subtítulo h3 da página inicial
---------------------------------------------------------------
*/
.title {
    position: relative;
    top: 250px;
    text-align: center;
}

h1 {
    font-size: 60px;    
    background: linear-gradient(90deg, var(--ciano) 0%, var(--azul) 60% , var(--roxo) 100%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

h3 {
    font-size: 30px;
    background: linear-gradient(90deg, var(--azul) 0% , var(--roxo) 100%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

/*
---------------------------------------------------------------
    layout da página sobre
---------------------------------------------------------------
*/
#grid_container1 { /* borda da página */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 250px 500px;
    column-gap: 20px;
    margin: 0;
    padding-left: 46px;
    border: 3px solid;
    border-top: 0;
    border-image: linear-gradient(90deg, var(--azul) 0% , var(--roxo) 100%);
    border-image-slice: 1;
}

.quemsoueu { /* título h2 quem sou eu */
    grid-area: 1 / 1 / 2 / 2;
    background: linear-gradient(90deg, var(--ciano) 0%, var(--azul) 40% , var(--roxo) 70%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 35px;
    align-self: end;
}

.paragrafo1 { /* parágrafo de apresentação */
    grid-area: 2 / 1 / 3 / 3;
    max-width: 900px;
    letter-spacing: 0.04cm;
    color: var(--branco);
    white-space-collapse: preserve-breaks;
    font-size: 20px;
    margin-top: -100px;
}

.img { /* minha foto */
    grid-area: 1 / 2 / 3 / 3;
    align-self: center;
    margin-left: 300px;
} .img_eu {
    width: 300px;
    border-radius: 80px;
}

/*
---------------------------------------------------------------
    layout da página currículo
---------------------------------------------------------------
*/
#grid_container2 { /* layout e borda da página */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 500px 250px;
    padding-left: 70px;
    border: 3px solid;
    border-top: 0;
    border-image: linear-gradient(90deg, var(--azul) 0% , var(--roxo) 100%);
    border-image-slice: 1;
}

.item1_1 { /* título h2 linguagens */
    grid-area: 1 / 1 / 2 / 2;
    background: linear-gradient(90deg, var(--ciano) 0%, var(--azul) 20%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 26px;
    margin-top: 90px;
    margin-bottom: 0;
}

.item1_2 { /* imagem com ícones das linguagens */
    grid-area: 1 / 1 / 2 / 2;
    margin-top: 210px;
    margin-bottom: 0;
}

.item2_1 { /* título h2 idiomas */
    grid-area: 2 / 1 / 3 / 2;
    background: linear-gradient(90deg, var(--ciano) 0%, var(--azul) 20%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 26px;
    margin-top: 20px;
    margin-bottom: 0;
}

.item2_2 { /* parágrafo dos idiomas */
    grid-area: 2 / 1 / 3 / 2;
    white-space-collapse: preserve-breaks;
    color: var(--branco);
    font-size: 22px;
    margin-top: 80px;
    margin-bottom: 0;
}

.item3_1 { /* título h2 formações */
    grid-area: 1 / 2 / 2 / 3;
    background: linear-gradient(90deg, var(--ciano) 0%, var(--azul) 20%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;  
    font-size: 26px;
    margin-top: 90px;
    margin-bottom: 0;
    margin-left: -100px;
}

.item3_2 { /* parágrafo das formações */
    grid-area: 1 / 2 / 2 / 3;
    white-space-collapse: preserve-breaks;
    color: var(--branco);
    font-size: 22px;
    margin-top: 150px;
    margin-bottom: 0;
    margin-left: -100px;
}

.item4_1 { /* título h2 habilidades */
    grid-area: 2 / 2 / 3 / 3;
    background: linear-gradient(90deg, var(--ciano) 0%, var(--azul) 20%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 26px;
    margin-top: -100px;
    margin-bottom: 0;
    margin-left: -100px;
}

.item4_2 { /* parágrafo das habilidades */
    grid-area: 2 / 2 / 3 / 3;
    white-space-collapse: preserve-breaks;
    color: var(--branco);
    font-size: 22px;
    margin-top: -40px;
    margin-left: -100px;
}

.social {
    grid-area: 2 / 2 / 3 / 3;
    background: linear-gradient(90deg, var(--ciano) 0%, var(--azul) 20%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 26px;
    margin-top: -100px;
    margin-left: 300px;
}

/*
---------------------------------------------------------------
    layout da página contato
---------------------------------------------------------------
*/
#grid_container3 { /* borda da página */
    margin: 0;
    padding: 0;
    padding-left: 46px;
    border: 3px solid;
    border-top: 0;
    border-image: linear-gradient(90deg, var(--azul) 0% , var(--roxo) 100%);
    border-image-slice: 1;
}