body {
    background: #1f212a;
    font-family: 'proxima-soft';
}

ul {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    overflow: hidden;
    background-color: #282A35;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow: hidden;
    list-style-type: none;
}

li {
    display: inline-block;
}

li a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 16px 20px;
    font-size: 22px;
    font-weight: 600;
    background: linear-gradient(90deg, #45e7fc 0%, #9064e8 60% , #872b97 100%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

li:hover {
    background-color: #1f212a;
}

#img_me {
    position: relative;
    width: 300px;
    left: 1100px;
    top: 200px;
    border-radius: 80px;
}

#about_tab {
    position: relative;
    white-space-collapse: preserve-breaks;
}

#about_title {
    position: relative;
    left: 46px;
    top: 60px;
    font-size: 60px;
    background: linear-gradient(90deg, #45e7fc 0%, #9064e8 10% , #872b97 20%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

#description {
    position: relative;
    left: 46px;
    width: 900px;
    font-size: 20px;
    letter-spacing: 0.04cm;
    color: #FFFFFF;
    opacity: 80%;

}