@import "root";

.main-menu {
    display: none;
}

.main-menu--nav-bar {
    @include FLEX-ROW-NOWRAP;
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }

    .main-menu {
        @include FLEX-ROW-NOWRAP;
        @include NAV-HEADER;
        justify-content: space-between;
        border-bottom: 1px solid $BLACK;
        padding: .5rem;
        z-index: 10;
        background-color: $WHITE;
    }

    .main-menu__nav-bar {
        @include FLEX-ROW-NOWRAP;
        gap: 2rem;
        align-items: center;
        font-size: $TEXT-MEDIUM;
        margin-left: 5vw;
    }

    .main-menu__nav-bar>a {
        color: $BLACK;
        font-weight: 600;
    }

    .nav__lang-select {
        width: 7rem;
        height: 3.3rem;
        font-size: $TEXT-SMALL;
        margin-right: 5vw;
    }

    .main-content {
        margin-top: 4.30rem;
    }

    .main-content__hero,
    .main-content__about {
        height: calc(100vh - 69px);
    }
}