@use "variables" as var;

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var.$main-font;
  text-decoration: none;
}

body {
  min-height: 100dvh;
  background-color: var.$white;
  color: var.$black;
}

ul {
  list-style-position: inside;
}

textarea {
  resize: none;
}
