// || COLORS
$GREEN: #66796b;
$WHITE: #f5f5f5;
$BLACK: #1b1b1b;
$BOXSHADOW: 0 10px 15px #1b1b1b20;
$GRADIENT--BEFORE: linear-gradient(to right, #ffffff 0%, #ffffff00 100%);
$GRADIENT--AFTER: linear-gradient(to left, #ffffff 0%, #e7e7e700 100%);

// || FONT
$MAIN-FONT: "Nunito", serif;

// || SIZES
$H1-SIZE: clamp(3.5rem, 5vw, 5rem);
$H2-SIZE: clamp(3rem, 4vw, 4rem);
$H3-SIZE: clamp(2.5rem, 3vw, 3rem);

$MENU-LINK: 3rem;

$TEXT-SIZE: clamp(2rem, 2.2vw, 2.2rem);

$BTN-MENU: 3.5rem;

@mixin NAV-HEADER {
  position: fixed;
  top: 0;
  width: 100%;
}

@mixin FLEX-COL-NOWRAP {
  display: flex;
  flex-flow: column nowrap;
}

@mixin FLEX-ROW-NOWRAP {
  display: flex;
  flex-flow: row nowrap;
}

@mixin LINKS-MOBILE-MENU {
  color: $WHITE;
  font-weight: bold;
  padding: 1.5rem;
  width: 100%;
  text-align: center;
}
