@use "index" as *;

/* || VARIABLES AND RESET */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

/* || GENERAL STYLE */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-flow: column nowrap;
  font-family: $MAIN-FONT;
  background-color: $WHITE;
  color: $BLACK;
  min-height: 100vh;
}

/* || BLOCKS */
.mobile-menu {
  @include FLEX-COL-NOWRAP;
  align-items: center;
  justify-content: flex-start;
  @include NAV-HEADER;
  border-bottom: 1px solid $BLACK;
  z-index: 10;
  background-color: $WHITE;
}

.main-content {
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
}

/* || ELEMENTS */
.mobile-menu__open-btn {
  cursor: pointer;
  padding: 0.8em;
  background-color: $WHITE;

  img {
    width: $BTN-MENU;
    height: $BTN-MENU;
  }
}

.nav-dropdown__close-btn {
  align-self: flex-start;
  cursor: pointer;
  position: absolute;
  top: 0;
  padding: 0.8em;
  background-color: $WHITE;

  img {
    width: $BTN-MENU;
    height: $BTN-MENU;
  }
}

.nav-dropdown__links {
  @include FLEX-COL-NOWRAP;
  justify-content: center;

  a {
    @include LINKS-MOBILE-MENU;
    font-size: $MENU-LINK;
  }
}

.main-content__hero {
  background-color: $GREEN;
  text-align: center;
  color: $WHITE;
  height: 100vh;
  @include FLEX-COL-NOWRAP;
  justify-content: center;
  scroll-margin-top: 6rem;
}

.main-content__about {
  min-height: 100vh;
  @include FLEX-COL-NOWRAP;
  align-items: center;
  gap: 3em;
  scroll-margin-top: 6rem;
}

.about__skills {
  @include FLEX-ROW-NOWRAP;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1.8em;
  gap: clamp(1em, 3vw, 4em);
}

.main-content__projects {
  height: 100vh;
  @include FLEX-COL-NOWRAP;
  align-items: center;
  scroll-margin-top: 4rem;
}

.projects__list {
  columns: 2;
  list-style-position: inside;
  list-style-type: disc;
  font-size: $TEXT-SIZE;

  li {
    padding: 1em;

    a:hover,
    a:focus {
      text-decoration: underline;
    }

    :last-child {
      font-size: smaller;
    }
  }
}

.main-content__contact {
  height: 100vh;
  scroll-margin-top: 6rem;
  @include FLEX-COL-NOWRAP;
  align-items: center;
}

.contact__links {
  list-style-type: none;
  list-style-position: inside;
  @include FLEX-COL-NOWRAP;
  align-items: center;
  gap: clamp(1em, 3vw, 4em);
}

/* || MODIFIERS */
.mobile-menu__nav-dropdown--hidden {
  display: none;
}

.mobile-menu__nav-dropdown--flex {
  @include FLEX-COL-NOWRAP;
  align-items: center;
  justify-content: space-evenly;
  min-height: 100vh;
  background-color: $GREEN;
  width: 100%;
}

.mobile-menu__open-btn--hidden {
  display: none;
}

.mobile-menu__open-btn--flex {
  align-self: flex-start;
  display: flex;
}

.hero--h1 {
  font-size: $H1-SIZE;
  padding: 2em;
  padding-top: 0;
}

.hero--p {
  font-size: $TEXT-SIZE;
  padding: 0 2em;
}

.about--h2,
.projects--h2,
.contact--h2 {
  font-size: $H2-SIZE;
  padding: 1em;
  margin-top: 1em;
}

.about--p {
  font-size: $TEXT-SIZE;
  width: 80%;
  text-align: justify;

  a {
    font-weight: bold;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.skills--card {
  @include FLEX-COL-NOWRAP;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 10rem;
  box-shadow: $BOXSHADOW-CARD;
  margin-top: 2em;

  img {
    padding: 1.5em;
  }
}

.icon--github,
.icon--linkedin,
.icon--discord {
  a {
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  img {
    width: $ICON-SOCIAL;
  }
}
