@use "index" as *;

/* || VARIABLES AND RESET */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

/* || GENERAL STYLE */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-flow: column nowrap;
  font-family: $MAIN-FONT;
  background-color: $WHITE;
  color: $BLACK;
  min-height: 100vh;
}

/* || BLOCKS */
.mobile-menu {
  @include FLEX-COL-NOWRAP;
  align-items: center;
  justify-content: flex-start;
  @include NAV-HEADER;
  border-bottom: 1px solid $BLACK;
  z-index: 10;
  background-color: $WHITE;
}

.main-content {
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
}

/* || ELEMENTS */
.mobile-menu__open-btn {
  cursor: pointer;
  padding: 0.8em;
  background-color: $WHITE;
}

.nav-dropdown__close-btn {
  align-self: flex-start;
  cursor: pointer;
  position: absolute;
  top: 0;
  padding: 0.8em;
  background-color: $WHITE;
}

.nav-dropdown__links {
  @include FLEX-COL-NOWRAP;
  justify-content: center;
}

.main-content__hero {
  background-color: $GREEN;
  text-align: center;
  color: $WHITE;
  height: 100vh;
  @include FLEX-COL-NOWRAP;
  justify-content: center;
  scroll-margin-top: 6rem;
}

.main-content__about {
  height: 100vh;
  @include FLEX-COL-NOWRAP;
  justify-content: space-evenly;
  align-items: center;
  scroll-margin-top: 6rem;
}

.about__skills {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.main-content__projects {
  height: 100vh;
  @include FLEX-COL-NOWRAP;
  align-items: center;
  scroll-margin-top: 4rem;
}

/* || MODIFIERS */
.mobile-menu__open-btn > img,
.nav-dropdown__close-btn > img {
  width: $BTN-MENU;
  height: $BTN-MENU;
}

.nav-dropdown__links > a {
  @include LINKS-MOBILE-MENU;
  font-size: $MENU-LINK;
}

.mobile-menu__nav-dropdown--hidden {
  display: none;
}

.mobile-menu__nav-dropdown--flex {
  @include FLEX-COL-NOWRAP;
  align-items: center;
  justify-content: space-evenly;
  min-height: 100vh;
  background-color: $GREEN;
  width: 100%;
}

.mobile-menu__open-btn--hidden {
  display: none;
}

.mobile-menu__open-btn--flex {
  align-self: flex-start;
  display: flex;
}

.hero--h1 {
  font-size: $H1-SIZE;
  padding: 2em;
  padding-top: 0;
}

.hero--p {
  font-size: $TEXT-SIZE;
  padding: 0 2em;
}

.about--h2,
.projects--h2 {
  font-size: $H2-SIZE;
  padding: 1em;
}

.about--p {
  font-size: $TEXT-SIZE;
  width: 80%;
  text-align: justify;
}

.about--h3 {
  font-size: $H3-SIZE;
}

.skills--card {
  min-width: 100px;
  min-height: 100px;
  border: 1px solid $BLACK;
  margin: 1rem;
}
