@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  /* || COLORS */
  --HIGHLIGHT: #66796b;
  --WHITE: #f5f5f5;
  --BLACK: #1b1b1b;
  --BOXSHADOW: 0 10px 15px #1b1b1b20;
  --GRADIENT--BEFORE: linear-gradient(to right,  #ffffff 0%,#ffffff00 100%);
  --GRADIENT--AFTER: linear-gradient(to left, #ffffff 0%, #e7e7e700 100%);

  /* || FONT */
  --MAINFONT: "Nunito", serif;
}


/* || RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-flow: column nowrap;
  font-family: var(--MAINFONT);
  background-color: var(--WHITE);
  color: var(--BLACK);
}


/* || UTILITIES */
ul {
  list-style-type: none;
  list-style-position: inside;
}

li {
  padding: .8rem;
}

a {
  text-decoration: none;
  color: var(--BLACK);
}

a:hover,
a:focus {
  color: var(--BLACK);
  filter: brightness(200%);
}


/* || BLOCKS */
.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  background-color: var(--WHITE);
  border-bottom: 1px solid var(--BLACK);
  padding: 1em;
}

.lang-picker-select {
  font-size: 1rem;
  padding: 1em;
  border-radius: 10px;
}

.hero {
  background-color: var(--HIGHLIGHT);
  color: var(--WHITE);
  font-size: 1.2rem;
  padding: 2em;
  text-align: center;
  padding-top: 15%
}

.up-down-btn {
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 1rem;
}

.slide-track {
  display: flex;
  flex-flow: row nowrap;
  background-color: var(--WHITE);
  box-shadow: var(--BOXSHADOW);
  width: 80vw;
  margin: 2rem auto;
  overflow: hidden;
  padding: .6rem 0;
}

/* .slide-track::before {
  background: var(--GRADIENT--BEFORE);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  z-index: 1;
}
.slide-track::after {
  background: var(--GRADIENT--AFTER);
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  z-index: 1;
} */

/* .slide-track {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  
} */

@keyframes slide {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%);}
}


/* || ELEMENTS */
.nav-bar__menu-btn {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 40px;
}

.nav-bar__links {
  background-color: var(--WHITE);

  font-size: 1.2rem;
  padding: 2em;
  padding-left: .5em;
  height: 100vh;

  display: flex;
  flex-flow: column nowrap;

  position: absolute;
  left: 0;
}

.slide-track__slide img {
  display: inline-block;
  white-space: nowrap;
  padding: 0 .8rem;
  animation: slide 20s linear infinite;
}

.slide-track__slide:first-child,
.slide-track__slide:nth-child(2) {
  padding: 0 .5rem;
}

/* .header__lang {
  display: flex;
  flex-flow: column nowrap;
  gap: 5px;
}

.lang__choice {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.choice__btn {
  background-color: transparent;
  border: none;
  padding: 0;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.lang__dropdown {
  display: none;
} */


/* || MODIFIER */
.link--bold {font-weight: bold;}

.menu-btn--open {display: block;}

.menu-btn--close {display: none;}

.nav-bar--side {display: none;}

.lang-flag::before {
  content: "";
  width: 16px;
  height: 16px;
}
.lang-flag--en::before {
  background-image: url("../img/flags/united-states.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.lang-flag--pt::before {
  background-image: url("../img/flags/brazil.svg");
}

.lang-flag--en::before {
  content: "";
  background: url("../img/flags/united-states.svg");
  height: 32px;
  width: 32px;
}

.up--btn,
.down--btn {
  background-color: transparent;
  border: none;
}

.up--btn > img,
.down--btn > img {
  width: 30px;
  margin: 0px 3px 0px 3px;
}

/* .lang--open {display: block;}

.lang--close {display: none;} */

/* .lang-flag:hover,
.lang-flag:focus {
  filter: brightness(110%);
} */

/* .lang--flag {
  display: inline-block;
} */