@import url("main.css");

.hamburger-menu {
    display: flex;
}

.menu-btn {
    background-color: gray;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-btn__icon,
.menu-bt__icon::before,
.menu-btn__icon::after {
    content: "";
    background-color: var(--BLACK);
    width: 40px;
    height: 5px;
    border-radius: 10px;
    transition: all 0.5s;
    position: absolute;
    align-self: flex-start;
}

/* .menu-bt__icon::before {
    transform: translate(-20px, -12px);
}

.menu-btn__icon::after {
    transform: translate(-20px, -12px);
} */