/* || VARIABLES AND RESET */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

/* || GENERAL STYLE */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-flow: column nowrap;
  font-family: "Nunito", serif;
  background-color: #f5f5f5;
  color: #1b1b1b;
  min-height: 100vh;
}

/* || BLOCKS */
.mobile-menu {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #1b1b1b;
  z-index: 10;
  background-color: #f5f5f5;
}

.main-content {
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
}

/* || ELEMENTS */
.mobile-menu__open-btn {
  cursor: pointer;
  padding: 0.8em;
  background-color: #f5f5f5;
}

.nav-dropdown__close-btn {
  align-self: flex-start;
  cursor: pointer;
  position: absolute;
  top: 0;
  padding: 0.8em;
  background-color: #f5f5f5;
}

.nav-dropdown__links {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.main-content__hero {
  background-color: #66796b;
  text-align: center;
  color: #f5f5f5;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  scroll-margin-top: 6rem;
}

.main-content__about {
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  scroll-margin-top: 6rem;
}

.about__skills {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.main-content__projects {
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  scroll-margin-top: 4rem;
}

/* || MODIFIERS */
.mobile-menu__open-btn > img,
.nav-dropdown__close-btn > img {
  width: 3.5rem;
  height: 3.5rem;
}

.nav-dropdown__links > a {
  color: #f5f5f5;
  font-weight: bold;
  padding: 1.5rem;
  width: 100%;
  text-align: center;
  font-size: 3rem;
}

.mobile-menu__nav-dropdown--hidden {
  display: none;
}

.mobile-menu__nav-dropdown--flex {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  min-height: 100vh;
  background-color: #66796b;
  width: 100%;
}

.mobile-menu__open-btn--hidden {
  display: none;
}

.mobile-menu__open-btn--flex {
  align-self: flex-start;
  display: flex;
}

.hero--h1 {
  font-size: clamp(3.5rem, 5vw, 5rem);
  padding: 2em;
  padding-top: 0;
}

.hero--p {
  font-size: clamp(2rem, 2.2vw, 2.2rem);
  padding: 0 2em;
}

.about--h2,
.projects--h2 {
  font-size: clamp(3rem, 4vw, 4rem);
  padding: 1em;
}

.about--p {
  font-size: clamp(2rem, 2.2vw, 2.2rem);
  width: 80%;
  text-align: justify;
}

.about--h3 {
  font-size: clamp(2.5rem, 3vw, 3rem);
}

.skills--card {
  min-width: 100px;
  min-height: 100px;
  border: 1px solid #1b1b1b;
  margin: 1rem;
}