@import "tailwindcss";

@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito/Nunito-VariableFont_wght.ttf") format("truetype");
  font-weight: 400 600 800;
}

:root {
  --font-nunito: "Nunito", serif;
}

@theme {
  --color-green: #66796b;
  --color-white-new: #f5f5f5;
  --color-black-new: #1b1b1b;
  --default-font-family: var(--font-nunito);
}

.h-screen-new {
  height: calc(100vh - 80px);
}

.text-title {
  font-size: 4rem;
}